.container {
  width: 82%;
  max-width: 1000px;
  margin: 30px auto;
  padding-top: 30px;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

h1 {
  font-weight: 100;
  font-size: 35px;
}

.text-center {
  text-align: center;
}

.product-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-form input {
  width: 32%;
  padding: 15px 14px;
  border-radius: 4px;
  position: relative;
  border: 1px solid #ccc;
}

.edit-form button {
  background-color: #f39c12;
}
label {
  cursor: pointer;
  width: 100%;
  height: 200px;
  border: 2px dashed #ccc;
  border-radius: 15px;
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.14s ease-out;
}
label:hover {
  border: 2px dashed #555;
}
label img {
  width: 50px;
}

label img.selected-image {
  width: 100px;
  border-radius: 5px;
}
#upload-photo {
  display: none;
}
.btn {
  border-radius: 3px;
  border: none;
  outline: none;
  color: #fff;
  padding: 15px 75px;
  font-size: 20px;
  cursor: pointer;
  background-color: #1f92ec;
  margin: 25px auto 30px;
  /* background: linear-gradient(122deg, rgba(23,57,230,1) 0%, rgba(23,230,230,1) 97%); */
}

.product {
  text-align: center;
  margin-top: 40px;
}
table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

th.text-center {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
}

td > button {
  width: 100%;
  padding: 5px 10px;
  background-color: #1f92ec;
  border: 0;
  border-radius: 3px;
  height: 40px;
  cursor: pointer;
}
td > button > img {
  width: 20px;
}
td > button.edit {
  background-color: #f39c12;
}
td > button.delete {
  background-color: #e74c3c;
}
.product-row {
  cursor: pointer;
}
.product-row:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
/* Popup */
.popup-parent {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: block;
}
.popup {
  background-color: #fff;
  border-radius: 5px;
  width: 600px;
  max-width: 100%;
  position: absolute;
   left: 50%;
  transform: translate(-50%, 0);
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.popup img {
  max-width: 100%;
  max-height: 250px;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  opacity: 0.4;
  cursor: pointer;
}

/* Confirm Delete */
.confirm-delete {
  background-color: #fff;
  border-radius: 5px;
  width: 600px;
  max-width: 100%;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.confirm-delete h3 {
  font-weight: 100;
}
.confirm-delete h3 b {
  font-weight: bold;
}
.confirm-delete button {
  padding: 10px 15px;
  border: 0;
  color: #fff;
  border-radius: 3px;
  background-color: #ccc;
  margin-right: 15px;
  margin-top: 20px;
  cursor: pointer;
}
.confirm-delete button.yes {
  background-color: #e74c3c;
}
.confirm-delete button.no {
  background-color: #1f92ec;
}

/* Alert */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .hide-in-mobile {
    display: none;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
	Label the data
	*/
  td:nth-of-type(1):before {
    content: '#';
  }
  td:nth-of-type(2):before {
    content: 'ID';
  }
  td:nth-of-type(3):before {
    content: 'Name';
  }
  td:nth-of-type(4):before {
    content: 'Category';
  }
  td:nth-of-type(5):before {
    content: 'Price';
  }
  td:nth-of-type(6):before {
    content: 'Delete';
  }
  td:nth-of-type(7):before {
    content: 'Edit';
  }
}
