<div class="container">

  <section class="product-edit">
    <input type="name" placeholder="Name">
    <input type="category" placeholder="Category">
    <input type="number" placeholder="Price">



    <label for="upload-photo">
      <!-- <img [src]="selectedImageData" class="selectedImage" *ngIf="selectedImageData.length > 0"> -->
      <!-- *ngIf="selectedImageData.length === 0" -->
      <img src="assets/upload.svg">
      <h3>{{selectedImageName}}</h3>
    </label>
    <input type="file" name="photo" id="upload-photo" accept="image/*" (change)="fileSelected($event)" />
    <button class="btn" (click)="onClick()">Save product</button>
  </section>

  <section class="product">
    <h1>Products</h1>
    <table>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Edit</th>
      </tr>
      <tr *ngFor="let product of products; let i = index;">
        <td>{{i + 1}}</td>
        <td>{{product.name}}</td>
        <td>{{product.category}}</td>
        <td>{{product.price}}</td>
        <td><button>X</button></td>
      </tr>
      <!-- <tr>
          <td>Centro comercial Moctezuma</td>
          <td>Francisco Chang</td>
          <td>50</td>
          <td><button>X</button></td>
        </tr> -->
    </table>
  </section>
</div>

<div ng-app="myApp" ng-controller="myCtrl">
  Name: <input ng-model="firstname">
  <h1>{{firstname}}</h1>
</div>